<div class="pure-g">
    <div class="pure-u-1">
        <div class="pure-menu pure-menu-horizontal">
            <a href="{{ path_for('home') }}" class="pure-menu-heading pure-menu-link">Alpha Inc</a>
            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="" class="pure-menu-link">Home</a></li>
                <li class="pure-menu-item"><a href="" class="pure-menu-link">About us</a></li>
                <li class="pure-menu-item"><a href="}" class="pure-menu-link">Contact us</a></li>
            </ul>
        </div>
    </div>
</div>
