{% extends 'layout.twig' %}

{% block content %}

<div class="pure-g">
    <div class="pure-u-3-5">
        <h1>A company with the strongest desire of serving you anywhere </h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti nostrum vitae repellat voluptate corporis, quod sed illo expedita, distinctio reprehenderit voluptates ut nam, reiciendis fugiat temporibus vero cumque quia dolores.
        </p>
    </div>
    <div class="pure-u-2-5">
        <figure>
            <img src="{{ base_url() }}/img/company.jpg" alt="Alpha Inc." class="pure-img">
            <figcaption>Alpah Inc. Head Quaters in Silicon Valley</figcaption>
        </figure>
    </div>
</div>

<hr>

<div class="pure-g">
    <div class="pure-u-2-5">
        <figure>
            <img src="{{ base_url() }}/img/e-commerce.jpg" alt="Alpha Inc. E-Commerce" class="pure-img">
            <figcaption>Ecommerce</figcaption>
        </figure>
    </div>
    <div class="pure-u-3-5">
        <h1>Reknown brands in e-Commerce</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti nostrum vitae repellat voluptate corporis, quod sed illo expedita, distinctio reprehenderit voluptates ut nam, reiciendis fugiat temporibus vero cumque quia dolores.
        </p>
    </div>
</div>

<hr>

<div class="pure-g">
    <div class="pure-u-1">
        <img src="{{ base_url() }}/img/illustration-home-inverted.1f863f34ba.png" alt="Alpha Inc. E-Commerce" class="pure-img">
        <p>
            <h1>A company always at work</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur dolorum similique perferendis sit aut illo cum, officia quaerat deserunt voluptas numquam, asperiores optio minus ipsa quod quos accusamus obcaecati quam.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione non earum numquam temporibus ipsum quos laborum nihil vero doloremque culpa, optio totam ipsa impedit, nostrum suscipit pariatur repellat. Reiciendis, dicta!</p>
        </p>
    </div>
</div>


<hr>

<aside class="pure-g">
    <div class="pure-u-1">
        <p>Contact us today and start business</p>
        <p><a href="" class="pure-button">Get in touch</a></p>
    </div>
</aside>

{% endblock %}
